<h3>My Profile</h3>
<hr>
<div class="row">

<div class="col-lg-6">


<h6><i class="bi bi-person-add"></i>&nbsp;&nbsp;Update my profile</h6>
<div class="form-floating mb-3">
  <input type="text" class="form-control" id="name" >
  <label for="name">Username</label>
</div>
<div class="form-floating mb-3">
  <input type="email" class="form-control" id="email" >
  <label for="email">Email address</label>
</div>
<button type="button" class="btn btn-primary mb-3" onclick="updateProfile()"><i class="bi bi-arrow-repeat"></i></i>&nbsp;Update profile</button>

</div>
<div class="col-lg-6">


<h6>
    <i class="bi bi-key">&nbsp;&nbsp;Update password</i>
</h6>

<div class="form-floating mb-3">
  <input type="password" class="form-control" id="oldpass" >
  <label for="oldpass">Old Password</label>
</div>
<div class="form-floating mb-3">
  <input type="password" class="form-control" id="newpass" >
  <label for="newpass">New Password</label>
</div>

<div class="form-floating mb-3">
  <input type="password" class="form-control" id="confirm" >
  <label for="confirm">Confirm new Password</label>
</div>
<button type="button" class="btn btn-primary mb-3" onclick="updatePasswd()"><i class="bi bi-arrow-repeat"></i></i>&nbsp;Update password</button>
</div>

</div>